
   
    .para{
        font-size: 30px;
        font-weight:bold;
        text-align: center;
        font-family:Montserrat;
        margin-bottom:10px;
    }
    .para1{
        font-size:15px;
        text-align: center;
        font-family:montserrat;
        margin-top:10px;
    }
    .s{
        text-decoration:underline;

    }
